TESTAPP/CustomerService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.3-11/28/2011 06:21 AM(foreman)-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a>--><xsd:schema targetNamespace="http://test.webservice.transformatech.com/" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:tns="http://test.webservice.transformatech.com/">
  <xsd:element name="address" type="tns:address"/>
  <xsd:element name="customerInfo" type="tns:customerInfo"/>
  <xsd:element ibmSchExtn:docRoot="true" name="getCustomer" type="tns:getCustomer"/>
  <xsd:element ibmSchExtn:docRoot="true" name="getCustomerResponse" type="tns:getCustomerResponse"/>
  <xsd:element ibmSchExtn:docRoot="true" name="insertCustomer" type="tns:insertCustomer"/>
  <xsd:element ibmSchExtn:docRoot="true" name="insertCustomerResponse" type="tns:insertCustomerResponse"/>
  <xsd:complexType name="insertCustomer">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CustomerInfo" type="tns:customerInfo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="customerInfo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CustomerID" nillable="true" type="xsd:int"/>
      <xsd:element name="FirstName" type="xsd:string"/>
      <xsd:element name="LastName" type="xsd:string"/>
      <xsd:element name="Address" type="tns:address"/>
      <xsd:element name="Status" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="address">
    <xsd:sequence>
      <xsd:element name="Street" type="xsd:string"/>
      <xsd:element name="City" type="xsd:string"/>
      <xsd:element name="State" type="xsd:string"/>
      <xsd:element name="Zip" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="insertCustomerResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Result" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getCustomer">
    <xsd:sequence>
      <xsd:element name="CustomerID" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getCustomerResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Customer" type="tns:customerInfo"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>